nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
   
    
}
li{
    width: auto;
    height: auto;
    background: linear-gradient(45deg,red,blue);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:25px;
    padding: 10px;
    transition:  background-color 0.2s ease-in, font-size 0.3s ease-in-out;
  
}
li:hover{
    background:white;
    font-size: 35px;
 
}
